<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        Ingresar al Sistema
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="fixed">Usuario</ion-label>
      <ion-input placeholder="Ingrese su usuario..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Contraseña</ion-label>
      <ion-input placeholder="Ingrese su contraseña..."></ion-input>
    </ion-item>
    
  </ion-list>

  <section>
    <ion-button expand="block">Ingresar</ion-button>
  </section>

</ion-content>
